<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Post Creation</h1>
  <div
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
    class="form-control">
    <label for="title">Post Title</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation">
      <small *ngIf="form.get('title').errors['required']">
        This field is required
      </small>
    </div>
  </div>
  <div
    [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}"
    class="form-control">
    <label for="author">Post Author</label>
    <input id="author" type="text" formControlName="author">
    <div
      *ngIf="form.get('author').touched && form.get('author').invalid"
      class="validation">
      <small *ngIf="form.get('author').errors['required']">
        This field is required
      </small>
    </div>
  </div>
  <div class="form-control">
    <label>Post Content</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>
  <button class="btn btn-block btn-dark" [disabled]="form.invalid" type="submit">Add Post</button>
</form>
