<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Admin Login</h2>
  <div class="alert alert-danger" *ngIf="auth.error$ | async as err">{{err}}</div>
  <div class="alert alert-info" *ngIf="message">{{message}}</div>
  <div
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    class="form-control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation">
      <small *ngIf="form.get('email').errors['required']">
        This field is required
      </small>
      <small *ngIf="form.get('email').errors['email']">
        Invalid Email
      </small>
    </div>
  </div>
  <div
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    class="form-control">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation">
      <small *ngIf="form.get('password').errors['required']">
        This field is required
      </small>
      <small *ngIf="form.get('password').errors['minlength']">
        Too short!
      </small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid || submitted">Log In</button>
</form>
