<div *ngIf="posts.length; else loading">
  <div class="form-control">
    <input type="text" placeholder="Search" [(ngModel)]="search">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts | postSearch:search; let index = index">
      <td>{{index + 1}}</td>
      <td>{{post.author}}</td>
      <td>{{post.title}}</td>
      <td>{{post.date | date:'medium'}}</td>
      <td>
        <button [routerLink]="['/admin', 'post', post.id, 'edit']" class="btn open btn-link">Edit post</button>
        <a (click)="remove(post.id)">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">loading...</p>
</ng-template>
